@import "tailwindcss";

* {
  scrollbar-width: thin;
  scrollbar-color: #1e293b transparent;
}

*::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: #1e293b;
  border-radius: 999px;
}

*::-webkit-scrollbar-thumb:hover {
  background: #334155;
}